<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #fff;">
        <div class="featured-image mb-3">
         <img src="../../assets/login/deve.png" class="img-fluid" style="width: 250px;">
        </div>
    </div> 
     
    <div class="col-md-6 right-box">
       <div class="row align-items-center">
             <div class="header-text mb-2 titre">
                  <h3>Modification de la Note</h3>
             </div>
             
             <form [formGroup]="NoteForm" (ngSubmit)="Modifier()">
             <div class="input-group mb-1 custom-input">
                 <input type="text" class="form-control form-control-lg bg-light fs-6" [value]="ancienCle" readonly> 
             </div>
             <div class="input-group mb-2 custom-input">
                 <input  formControlName="newcle" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer le neuveau cle de la note">
             </div>
             <div *ngIf="NoteForm.get('newcle')?.invalid && NoteForm.get('newcle')?.touched" class="text-danger">
                La clé est obligatoire.
              </div>
             <div class="input-group mb-1 custom-input">
                 
                <input  type="text" class="form-control form-control-lg bg-light fs-6" [value]="ancienneValeur" readonly>
            </div>
            <div class="input-group mb-1 custom-input">
                 
                <input formControlName="newvaleur" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer la nouvelle valeur de la note">
                
            </div>
            <div *ngIf="NoteForm.get('newvaleur')?.invalid && NoteForm.get('newvaleur')?.touched" class="text-danger">
                La valeur est obligatoire.
              </div>
             <div class="input-group mb-3 d-flex justify-content-between">   
             </div>
           
             <div class="d-flex mb-5">
            <button type="submit" class="btn btn-primary Input">Enregister</button>
            <button class="btn btn-warning" (click)="annulerModification()">Annuler</button>
          </div>
             </form>
             
       </div>
    </div> 
   </div>
 </div>
 
