<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #fff;">
        <div class="featured-image mb-3">
         <img src="../../assets/login/deve.png" class="img-fluid" style="width: 250px;">
        </div>
    </div> 
     
    <div class="col-md-6 right-box">
       <div class="row align-items-center">
             <div class="header-text mb-2">
                  
                  <h3>Modification de la Note</h3>
             </div>
             
             <form [formGroup]="NoteForm" (ngSubmit)="Modifier()">
             <div class="input-group mb-1">
                 <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer l'ancien cle du note"> 
             </div>
             <div class="input-group mb-4">
                 <input  formControlName="cle" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer le neuveau cle de la note">
             </div>
             <div class="input-group mb-1">
                 
                <input  type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer l'ancienne valeur de la note">
            </div>
            <div class="input-group mb-1">
                 
                <input formControlName="valeur" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Entrer la nouvelle valeur de la note">
            </div>
             <div class="input-group mb-3 d-flex justify-content-between">   
             </div>
             <div class="input-group mb-3">
                 <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Modifier</button>
             </div>
             <div class="input-group mb-3">
                 <button class="btn btn-lg btn-warning w-100 fs-6" (click)="annulerModification()">annuler</button>
             </div>
             </form>
             
       </div>
    </div> 
   </div>
 </div>
 
