<div class="container">
  <div class="col-md-4">
    
    <button type="button" class="btn btn-outline-danger custom-button" (click)="logout()">Déconnexion</button>  </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="categorie">Categories <img class="imageC" src="../../assets/login/imageC.png"></h2>
        <table class="table table-striped">   
  <thead>
    <tr>
      <th>Nom de la catégorie</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of displayedCategories">
      <td>{{categorie.nomCategorie}}</td>
      <td>
        <button class="btn btn-warning" (click)="onEdit(categorie.id)">Modifier</button>
        
        <button class="btn btn-primary" (click)="VoirNotes(categorie.id)">Voir Notes</button>

        <button class="btn btn-danger" (click)="onSupprimeCategorie(categorie.id)">Supprimer</button>

      </td>
    </tr>
  </tbody>
        </table>
        <mat-paginator
  [length]="categories?.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  pageSizeLabel="categories"
></mat-paginator>
      </div>
            <div class="col-md-4 form-container">
              <div class="card">
              <div class="card-header bg-info text-white">
                <h5>Ajouter une catégorie</h5>
              </div>
              <form [formGroup]="categorieForm" (ngSubmit)="createCategorie()">
                <div class="form-group custom-input">
                  <label>Nom de la catégorie:</label>
                  <input type="text" formControlName="nomCategorie" class="form-control" name="nomCategorie" required>
                  <div *ngIf="categorieForm.get('nomCategorie')?.invalid && (categorieForm.get('nomCategorie')?.dirty || categorieForm.get('nomCategorie')?.touched)">
                    <div *ngIf="categorieForm.get('nomCategorie')?.hasError('required')" class="text-danger">
                      Le nom de la catégorie ne peut pas être vide.
                    </div>
                    <div *ngIf="categoryExists" class="text-danger">
                      Le nom de la catégorie existe déjà.
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Ajouter</button>
              </form>
            </div>
          </div>
      </div>
    </div>
 
 
  
  


