<nav class="navbar navbar-expand-lg navbar-light " style="background-color: black;">
 
  <img class="profileDev rounded-circle" src="../../assets/login/profile.png">
  <div class="monNavButton">
  <button type="button" class="btn1 " (click)="Profile()">Profile</button>
<button type="button" class="btn1 " (click)="logout()">LogOut</button></div>


</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/login/LogoCNM.png" class="custom-image rotate">
    </div>
    <div class="col-md-8" style="position: relative; top: 45px;">
      <div class="categorie-container">
        <h2 class="categorie">Categories <img class="imageC" src="../../assets/login/imageC.png"></h2>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Entrer le nom de la categorie"
          [(ngModel)]="nomCategorieRecherche"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="rechercherCategorie()"
          >
            Rechercher
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-success" (click)="onAjouter()">Add Categorie</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom de la catégorie</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of displayedCategories;let i = index">
            <td [ngStyle]="{'color': i === 0 ? nomCategorieColor : 'black'}">{{ categorie.nomCategorie }}</td>
            
            <td>
              <button class="btn btn-warning input-button" (click)="onEdit(categorie.id)">Modifier</button>
              <button class="btn btn-primary input-button" (click)="VoirNotes(categorie.id)">Voir Notes</button>
              <button class="btn btn-danger input-button" (click)="onSupprimeCategorie(categorie.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="categories?.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        pageSizeLabel="categories"
      ></mat-paginator>
    </div>
  </div>
</div>
