<h1 class="text mb-4">Changer le mot de passe</h1>
<div class="card">
    <img class="imageModifierPassword mb-3" src="../../assets/login/imagePass.jpeg" style="width: 100px; height: auto; margin-left: 250px;">
    <form>
        <div class="input-box mb-3">
            <input type="password" [(ngModel)]="oldPasswordInput" name="oldPassword"   placeholder="ancien mot de passe">
        </div>
        <div class="input-box mb-3">
            <input type="password" [(ngModel)]="newPasswordInput" name="newPassword"  placeholder="nouveau mot de passe">
        </div>
        <div class="input-box mb-3">
            <input type="password" [(ngModel)]="newPasswordInput1" name="newPassword1"  placeholder="Confirmer mot de passe">
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-success" (click)="changerMotDePasse()">Valider</button>
            <button type="button" class="btn btn-outline-dark" (click)="Retour()">BackTo</button>
        </div>

    </form>
</div>
