.text{
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}
.card.imageModifierPassword{
    width: 90%; 
    height: auto;
}
.card{
    width: 620px;
    height: 400px;
    margin-left: 25%;
    margin-top: 40px;
}
.card .input-box{
  width:100%;
  height: 50px;

}
.input-box input{ 
margin-left: 60px;
width: 80%;
height: 100%;
border-radius: 40px;
font-size: 16px;
}
.input-box input::placeholder{
    color: black;
}
.btn{
    right: 90px;
}
.btn.btn-outline-dark{
    margin-right: 220px;
}
.btn.btn-outline-success{
    margin-left: 220px;
}

