<form>
<div class="container">
    <div class="myimage">
      <h1 class="note">Liste des notes
        <img class="image" src="../../assets/login/notes.png" alt="Image description">
      </h1>
    </div>
    
    <div class="form-group class1">
      <label for="label_1">Entrez la clé du note</label>
      <input type="text" class="form-control" name="cle" id="label_1" area-describedby="helpId" placeholder="Clé du note">
    </div>
    
    <div class="form-group class2">
      <label for="label_2">Entrez la valeur du note</label>
      <input type="text" class="form-control" name="cle" id="label_2" area-describedby="helpId" placeholder="valeur du note">
    </div>
 

  </div>
  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 ">
    <button type="button" class="btn btn-primary">Add</button>  </div>

</form>

<table class="table table-success">
    <thead>
      <tr>
       
        <th>Cle du Note</th>
        <th>Valeur du note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    
        <td>Adresse IP</td>
        <td>192.168.0.1</td>
        <td><button type="button" class="btn btn-danger">Delete</button>
         <button type="button" class="btn btn-warning">Modify</button>

        </td>
        <tr>
    
          <td>Securité</td>
          <td>DHCP</td>
          <td><button type="button" class="btn btn-danger">Delete</button>
           <button type="button" class="btn btn-warning">Modify</button>
  
          </td>

      </tr>
      <tr>
    
        <td>Securité</td>
        <td>DHCP</td>
        <td><button type="button" class="btn btn-danger">Delete</button>
         <button type="button" class="btn btn-warning">Modify</button>

        </td>

    </tr>

    </tbody>
  </table>
  