.container {
    
    justify-content: center;
  

  }
  
  .note {
   text-shadow: 2px 2px gray;
   font-size: 3rem;
   text-align: center;
   padding-top: 2rem;
  }
  
  .form-group {
width: 50%;
margin-left: 25%;;
  }
  .myimage {
    margin-bottom: 20px; 
  }


  
  
  .image {
    width: 80px; 
    height: auto; 
    margin-left: 300px;
    margin-top: 20px;
  }
  
 
.table.table-success {
    width: 80%; 
    margin: 0 auto; 
    top: 50%;
  }
  
  .table.table-success th,
  .table.table-success td {
    font-size: 16px; 
  }
    .btn.btn-danger {
    font-size: 15px; 
    padding: 5px 10px; 
    margin-right: 25px;
  }
  .btn.btn-warning {
    font-size: 15px; 
    padding: 5px 10px; 
  }
  .btn.btn-primary {
    font-size: 15px; 
    padding: 5px 10px; 
    width: 110px;
    margin-top: 10px; 
    margin-left: 110px;
    margin-right: 500px;
    
  }
  .btn.btn-success{
    font-size: 15px; 
    padding: 5px 10px; 
    width: 110px;
    margin-top: 10px;
  }
  .btn.btn-outline-info{
    font-size: 15px; 
    padding: 5px 10px; 
    width: 110px;
    margin-top: 10px;
    
    
  }
  .note-recherchee {
    background-color: lightcoral; 
  }

  .card{
    margin-left: 130px;
    margin-top: 70px;
    height: 90px; ;
    width: 850px;
  }
  .text{
    color:darkgrey;
  }
  .input-box {
    width: 520px;
    padding: 5px 10px; 
    margin-left: -500px;
    margin-top: 10px;
    border-bottom: 40%;
    height:35px;
    border-radius: 5%;
  }
  

  

  
  

  