<div class="container">
  <div class="card-body p-4 text-center d-flex align-items-center">
    <img class="image" src="../../assets/login/notes.png" alt="Image description">
    <h1 class="note">Liste des notes</h1>
  </div>
 
  <div class="mb-3 d-flex align-items-center classeEspace">
    <button class="btn btn-primary" (click)="OnAjoute()">Ajouter</button>
    <div style="margin-right: 15px;"></div> 
    <input type="text" class="input-box" [(ngModel)]="cleRecherche" placeholder="Entrer la clé de la note">
    <div style="margin-right: 15px;"></div> 
    <button class="btn btn-outline-info" (click)="rechercherParCle()">Rechercher</button>
    
    <div style="margin-right: 15px;"></div> 
    
    <button class="btn btn-success" (click)="OnBackCategories()">Categories</button>
</div>

  
  

  <div *ngIf="displayedNotes.length > 0">
    <table class="table table-success">
      <thead>
        <tr>
          <th>Cle du Note</th>
          <th>Valeur du note</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let note of displayedNotes; let i = index">
          <tr>
            <td [ngStyle]="{'color': i === 0 ? cleColor : 'black'}">{{ note.cle }}</td>
            <td [ngStyle]="{'color': i === 0 ? valeurColor : 'black'}">{{ note.valeur }}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="SupprimerNote(note.id)">Supprimer</button>
              <button type="button" class="btn btn-warning" (click)="ModifierNote(note.id)">Modifier</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
      
      
      
      
    </table>

    <mat-paginator
      [length]="notes?.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      pageSizeLabel="notes"
    ></mat-paginator>
  </div>
  <div class="card text-center align-items-center" *ngIf="displayedNotes.length === 0">
    <div class="text" >
      <h1>Vous n'avez pas de notes!!</h1>
    </div>
  </div>
  
</div>
